<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathe.controlefuncionarios">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="Controle de Funcionários"
        android:roundIcon="@drawable/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Listas.ListaFuncionarios" />
        <activity android:name=".Cadastros.CadastroFuncionario" />
        <activity android:name=".Perfis.MostraFuncionario" />
        <activity android:name=".Listas.ListaCargos" />
        <activity android:name=".Cadastros.CadastroCargo" />
        <activity android:name=".Perfis.MostraCargo"></activity>
    </application>

</manifest>